<div style="max-width:700px; margin-left:auto; margin-right:auto">
   <h3 style="text-align:center">Imgur Clone packages:</h3>
   <div class="hero-unit">
	   <table class="table table-stripped table-hover" style="align:center">
		  <thead>
		    <tr>
		      <th></th>
		      <th>Script
	            </br>
	          </th>
		      <th>Hosted Solution</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td >Lifetime license</td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-ok"></i></td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-ok"></i></td>
		    </tr>
		    <tr>
		    <td >30 days money back guarantee</td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-ok"></i></td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-ok"></i></td>
		    </tr>
		    <tr>
		      <td>12 months hosting</td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-minus"></i></td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-ok"></i></td>
		    </tr>
		    <tr>
		      <td>Data transfer up to 40 GB/month</td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-minus"></i></td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-ok"></i></td>
		    </tr>
		     <tr>
		      <td>Database up to 10,000 rows</td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-minus"></i></td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-ok"></i></td>
		    </tr>
		     <tr>
		      <td>App monitoring</td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-minus"></i></td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-ok"></i></td>
		    </tr> 
		    <tr>
		      <td>Price</td>
		      <td><strong>	USD $89 </strong></td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>	USD $339 </strong></td>
		      </strong>
		    </tr>
		    <tr>
		      <td></td>
		      <td> <a class="btn btn-large btn-primary" type="button" href="http://fotokio.kickoffpages.com/">Buy</a></td>
		      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-large btn-primary" type="button" href="http://fotokio.kickoffpages.com/">Buy</a></td>
		      </strong>
		    </tr>
		  </tbody>
	  	</table>
	</div>  	
</div>