<div style="max-width:700px; margin-left:auto; margin-right:auto">
   <h3 style="text-align:center">Imgur Clone packages:</h3>
   <div class="hero-unit">
	   <table class="table table-stripped table-hover ">
		  <thead>
		    <tr>
		      <th></th>
		      <th>Script
	            </br>
	          </th>
		      <th>Hosted Solution</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td >Lifetime license</td>
		      <td><i class="icon-ok"></i></td>
		      <td><i class="icon-ok"></i></td>
		    </tr>
		    <tr class="warning">
		    <td ><strong>30 days money back guarantee</strong></td>
		      <td><i class="icon-ok"></i></td>
		      <td><i class="icon-ok"></i></td>
		    </tr>
		    <tr>
		      <td>1 year hosting</td>
		      <td><i class="icon-minus"></i></td>
		      <td><i class="icon-ok"></i></td>
		    </tr>
		    <tr>
		      <td>Data transfer up to 40 GB/month</td>
		      <td><i class="icon-minus"></i></td>
		      <td><i class="icon-ok"></i></td>
		    </tr>
		     <tr>
		      <td>Database up to 10,000 rows</td>
		      <td><i class="icon-minus"></i></td>
		      <td><i class="icon-ok"></i></td>
		    </tr>
		     <tr>
		      <td>App monitoring</td>
		      <td><i class="icon-minus"></i></td>
		      <td><i class="icon-ok"></i></td>
		    </tr> 
		    <tr>
		      <td>Price</td>
		      <td> <strong>	USD $89 </strong></td>
		      <td><strong>	USD $339 </strong></td>
		      </strong>
		    </tr>
		    <tr>
		      <td></td>
		      <td> <a class="btn btn-medium" type="button" href="http://fotokio.kickoffpages.com/"><strong>Buy Script</strong></a></td>
		      <td><a class="btn btn-medium" type="button" href="http://fotokio.kickoffpages.com/"><strong>Buy Hosted Solution</strong></a></td>
		      </strong>
		    </tr>
		  </tbody>
	  	</table>
	</div>  	
</div>