<div class="container-fluid">
  <title>Imgur Clone - get it now and start working on your idea!</title>

  <header class="jumbotron subhead" id="overview">
  <img src="http://www.digitaljournal.com/img/5/9/2/8/1/2/i/1/2/6/o/tard2.JPG" alt="Imgur Clone" width="225" style="float:right; padding-top:7px; padding-right:25px; " class="img-polaroid" >
  <div class="hero-unit">
    <h1>Imgur Clone </br><small>Build a community similar to <a href="http://imgur.com" target="_blank">Imgur</a> in minutes! </small></h1>   
             
  </div>
  </header>

  <div class="container">
 <!-- Docs nav
    ================================================== -->
    <div class="row">
      </br>
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-pills nav-stacked">
          </br></br>
          <li><a href="#script"><i class="icon-chevron-right"></i>Script</a></li>
          <li><a href="#features"><i class="icon-chevron-right"></i> Features</a></li>
          <li><a href="#FAQ"><i class="icon-chevron-right"></i>FAQ</a></li>
          <li><a href="#demo"><i class="icon-chevron-right"></i> Live Demo</a></li>
          <li><a href="#responsive"><i class="icon-chevron-right"></i> Responsive design</a></li>
        </ul>
      </div>
      <div class="span9">

<!-- Global Bootstrap settings
        ================================================== -->
        
          <section id="script">
            <div  class="page-header">
              <h1 style="color:grey">1. Script</h1>
            </div>
            <p>Imgur Clone is a script built with Ruby on Rails (a cool programming language and its framework). If you want to make a clone of Imgur this is the easiest way to get started.
            </br></br>If you are: </p>

          <div class="row-fluid">
            <div class="span6">
              <h4>Technical</h4>
              <p>We license the script and you can deploy it in your own server and add as many features as you want. </p>
            </div>
            <div class="span6">
              <h4>Non technical</h4>
              <p>We can serve you a functioning website so you can focus on building your community!</p>
            </div>
          </div>
        </section>        
        
        <section id="features">
         <h2>2. Features</h2>
          <h4>Users can:</h4>
          <ul class="nav nav-list bs-docs-sidenav">
            <li><i class="icon-ok-circle"></i> Log in with Facebook</li>
            <li><i class="icon-ok-circle"></i> Upload images and animated gifs</li>
            <li><i class="icon-ok-circle"></i> Upvote/downvote images</li>
            <li><i class="icon-ok-circle"></i> Navigate galleries with keyboard</li>
            <li><i class="icon-ok-circle"></i> Comment using Facebook</li>
            <li><i class="icon-ok-circle"></i> Donwload images</li>
            <li><i class="icon-ok-circle"></i> Report images</li>
            </ul> 

          </br>
          <h4>Admins can:</h4>
          <ul class="nav nav-list bs-docs-sidenav">
            <li><i class="icon-ok-circle"></i> Infinitely upvote/downvote images (to curate content)</li>
            <li><i class="icon-ok-circle"></i> Delete any image</li>
          </ul> 

          </br>
          <h4>Galleries:</h4>
          <ul class="nav nav-list bs-docs-sidenav">
            <li><i class="icon-ok-circle"></i> Most popular images of today</li>
            <li><i class="icon-ok-circle"></i> Hottest images of today</li>
            <li><i class="icon-ok-circle"></i> Newest images today</li>
            <li><i class="icon-ok-circle"></i> Most popular of the week</li>
            <li><i class="icon-ok-circle"></i> Most popular of the month</li>
            <li><i class="icon-ok-circle"></i> Most popular of all times</li>
            <li><i class="icon-ok-circle"></i> User uploaded images</li>
          </ul> 

        </br>
            <h4>Other:</h4>
            <ul class="nav nav-list bs-docs-sidenav">
              <li><i class="icon-ok-circle"></i> Slick desing</li>
              <li><i class="icon-ok-circle"></i> Fluid website (looks great on mobile) </li>
              <li><i class="icon-ok-circle"></i> Easy to add advertising</li>
            </ul> 
        <section id="FAQ">
            <h2>3. FAQ</h2>
            <strong>Does it have all of Imgur's functionalities?</strong>
            <p>Nop. This script is focused on the community side of imgur more than on hosting images for third parties.</p>
            <strong>Can you guys refund the money if I don't like the script?</strong>
            <p>Absolutely. We have a 30 days money back guarantee. Just <a href="http://imgur.com" target="_blank">click here</a> and you will get 100% of your money. No question asked. </p>
        <section id="demo">
          <h2>4. Live Demo</h2>
          <p>The demo is our original website:
            <a class="btn btn-medium" href="http://www.fotokio.com/">Show me the demo already!</a></p>
        </section>        



 <!-- Footer
    ================================================== -->
    </br>
    <footer class="footer">
      <div class="container">
        <p>Designed with twitter boostrap and built with love for the world </p>
      </div> 
    </footer>


</div>