<% @title="Imgur Clone Script - get it now and start working on your idea!" %>
<% @description="The easiest way to make an Imgur Clone. Whether you want a script or a hosted solution you can get going in minutes." %>

<div class="container-fluid">
  <header class="jumbotron subhead" id="overview">
    <img src="http://www.digitaljournal.com/img/5/9/2/8/1/2/i/1/2/6/o/tard2.JPG" alt="Imgur Clone" width="225" style="float:right; padding-top:7px;" class="img-polaroid" >
    <div class="hero-unit">
      <h1>Imgur Clone Script</br><small>Build a community similar to <a href="http://imgur.com" target="_blank">Imgur</a> in minutes! </small></h1>        
    </div>
  </header>

  <div class="container">
  <!-- Docs nav
    ================================================== -->
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-pills nav-stacked nav-list">
        </br></br>
        <li><a href="#script"><i class="icon-chevron-right"></i>Script</a></li>
        <li><a href="#features"><i class="icon-chevron-right"></i> Features</a></li>
        <li><a href="#FAQ"><i class="icon-chevron-right"></i>FAQ</a></li>
        <li><a href="#demo"><i class="icon-chevron-right"></i> Live Demo</a></li>
        <li><a href="#money"><i class="icon-chevron-right"></i>Buy</a></li>
      </ul>
    </div>
    <div class="span9"> 
    <!-- Global Bootstrap settings
        ================================================== -->
      <section id="script">
      </br>
      </br>
        <h1 style="color:grey">1. Script</h1>
          <p>Imgur Clone is a script built with Ruby on Rails (a cool programming language and its framework). If you want to make a clone of Imgur this is the easiest way to get started.
        </br></br>If you are: </p>
        <div class="row-fluid">
          <div class="span6">
            <h4>Technical</h4>
            <p>We license the script and you can deploy it in your own server and add as many features as you want. </p>
          </div>
          <div class="span6">
            <h4>Non technical</h4>
            <p>We can serve you a functioning website so you can focus on building your community!</p>
          </div>
        </div>
      </section>        
      
      <section id="features">
        </br>
        </br>     
        <h1 style="color:grey">2. Features</h1>
        <h4>Users can:</h4>
        <ul class="nav nav-list bs-docs-sidenav">
          <li><i class="icon-ok-circle"></i> Log in with Facebook</li>
          <li><i class="icon-ok-circle"></i> Upload images and animated gifs</li>
          <li><i class="icon-ok-circle"></i> Upvote/downvote images</li>
          <li><i class="icon-ok-circle"></i> Navigate galleries with keyboard</li>
          <li><i class="icon-ok-circle"></i> Comment using Facebook</li>
          <li><i class="icon-ok-circle"></i> Donwnload images</li>
          <li><i class="icon-ok-circle"></i> Report images</li>
          </ul> 
        </br>
        <h4>Admins can:</h4>
        <ul class="nav nav-list bs-docs-sidenav">
          <li><i class="icon-ok-circle"></i> Infinitely upvote/downvote images (to curate content)</li>
          <li><i class="icon-ok-circle"></i> Delete any image</li>
        </ul> 
        </br>
        <h4>Galleries:</h4>
        <ul class="nav nav-list bs-docs-sidenav">
          <li><i class="icon-ok-circle"></i> Most popular images of today</li>
          <li><i class="icon-ok-circle"></i> Hottest images of today</li>
          <li><i class="icon-ok-circle"></i> Newest images today</li>
          <li><i class="icon-ok-circle"></i> Most popular of the week</li>
          <li><i class="icon-ok-circle"></i> Most popular of the month</li>
          <li><i class="icon-ok-circle"></i> Most popular of all times</li>
          <li><i class="icon-ok-circle"></i> User uploaded images</li>
        </ul> 
        </br>
        <h4>Other:</h4>
        <ul class="nav nav-list bs-docs-sidenav">
          <li><i class="icon-ok-circle"></i> Slick desing</li>
          <li><i class="icon-ok-circle"></i> Fluid website (looks great on mobile) </li>
          <li><i class="icon-ok-circle"></i> Easy to add advertising</li>
        </ul> 
      </section>        
          <section id="demo">
        </br>
        </br>
        <h1 style="color:grey">3. Live Demo</h1>
        <p>Note that this demo is on spanish but it is very easy to change languages:
          <a class="btn btn-medium" href="http://www.fotokio.com/" target="_blank">Show me the demo already!</a></p>
      </section>      
      <section id="FAQ">
        </br>
        </br>
        <h1 style="color:grey">4. FAQ</h1>
        <strong>Can you guys refund my money if I don't like the script?</strong>
        <p>Absolutely. We have a 30 days money back guarantee. Just contact us with the chat buble on the bottom-right of your screen and you will get 100% of your money. No question asked. </p>
        <strong>I don't know how to code but I want an imgur clone?</strong>
        <p>Don't worry. For those who prefer so, we offer a functioning website with hosting for a year. You just give us your website domain, the language you want and you can start going.</p>
        <strong>Can I change the language?</strong>
        <p>Yes. Currently we support English and Spanish but it is very easy to change the language.</p>
        <strong>Does it have all of Imgur's functionalities?</strong>
        <p>Nop. This script is focused on the community side of imgur more than on hosting images for third parties.</p>
        <strong>Is the code encrypted?</strong>
        <p>No. You have full access to the code and get a license to use it as you please (you can basically do anything with the code but re-sell it or redistribute it). </p>
        </br>
        <strong>If you have more questions feel free to contact us on the chat buble on the bottom-right of your screen. </strong>
      </section>        
  
      <section id="money">
        </br>
        </br>
        <h1 style="color:grey">5. Buy</h1>
        <p>Wow. You are finally here. Press the button to learn about pricing and checkout:</p>
        <a class="btn btn-large btn-primary" href="<%=buy_path%>">Buy now!</a>

      </section>       
    </div>
   </div> 
 <!-- Footer
    ================================================== -->
      </br>
      <footer class="footer" style="background:#eeeeee">
         <p>Imgur Clone all rights reserved</p>
         <p>Built with <a href= "http://rubyonrails.org/">Ruby on Rails</a> and Twitter Bootstrap</p>
         <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
      </footer>


</div>