<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <strong><%= link_to "Imgur Clone", root_path, class: "brand" %> </strong>
          <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#demo">Demo</a></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>